## Objectives


- Gain familiarity with Jupyter notebooks
- Use and manipulate various data types
- Create, assign, and update variables
- Represent information with data types
- Use Boolean operators 
- Create and modify strings with string methods
- Create tuples
- Create dictionaries

[Reference](https://ds.codeup.com/python/data-types-and-variables/)

---
## Data Types


| Data type | Description |
|:-: |----------|
| `bool`|   Boolean values (True or False) |
| `str`  |  whole, or counting numbers |
| `float`|  decimal numbers |
| `list`| an ordered sequence of objects |
| `dict`| a collection of named values
| `NoneType` |  indicates absence of a value


###  `type` function

Returns the data type of an object. 

```python
type(object)
```

### Examples

In [1]:
type(123)

int

In [2]:
type(123.0)

float

In [3]:
type('Hello')

str

In [4]:
type(True)

bool

In [5]:
type(False)

bool

In [6]:
type('True')

str

---

## Variables

### Assigning a variable

In [8]:
favorite_number = 42
n = favorite_number + 7

In [10]:
type(favorite_number)

int

In [11]:
print(favorite_number)

42

In [12]:
print(n)

49

#### Troubleshooting

What is the result of the following code?

```python
a = 6
print(a + b)
b = 4
```

### Updating a variable

In [16]:
x = 1
print(x)
# Add 1 to the value of x
x = x + 1

print(x)

x = x * 3 + x
print(x)

1
2
8

#### Example: Running a cell multiple times

In [17]:
number = 6

In [19]:
number = number + 1
print(number)

8

## Boolean values


There are two Boolean values: `True` and `False`

**Note:** A Boolean value is not a string

```python
type(True)
```
```
bool
```

```python
type('True')
```
```
str
```

## Comparison operators 



#### Checks for equality
```python
==
```



#### Checks for inequality
```python
!=
```

### Examples

In [20]:
True == True

True

In [21]:
True == False

False

In [22]:
True != True

False

In [23]:
True != False

True

In [24]:
5 == 4 + 1

True

In [26]:
5.01 ==  5

False

In [27]:
'Hello' ==  'hello'

False

## Boolean Operators


Boolean operators evaluate statements and return a Boolean value.


#### `not` statements - also known as a negation


Returns the opposite Boolean value

| A | not A 
|:-: | :-:| 
| T | F |
| F | T |



For two statements **A** and **B**

#### `and` statement - also known as a *conjunction*


    
    

| A | B | A and B
|:-: | :-:| :-: | 
| T | T | T | 
| T | F | F | 
| F | T | F | 
| F | F | F | 



#### `or` statement - also known as a *disjunction*

    

| A | B | A or B
|:-: | :-:| :-: | 
| T | T | T | 
| T | F | T | 
| F | T | T | 
| F | F | F |

In [36]:
is_first_of_the_month = True
report_has_been_sent = False


should_process_report = is_first_of_the_month and not report_has_been_sent

print(should_process_report)

True

In [37]:
# Use different Boolean values

is_first_of_the_month = True
report_has_been_sent = True


should_process_report = is_first_of_the_month and not report_has_been_sent

print(should_process_report)

False



## Numbers

Two commonly used number types:


`int` - Whole numbers (both positive and negative) and 0

`float` - Numbers with decimals

####  Arithmetic Operations

| Operation      | Operator | Example  |
| ---------      | -------- | -------  |
| Addition       | `+`      | `4 + 4`  |
| Subtraction    | `-`      | `9 - 1`  |
| Multiplication | `*`      | `4 * 2`  |
| Division       | `/`      | `16 / 2` |
| Exponentiation | `**`     | `2 ** 3` |



####  Comparison Operations

| Operator | Description              | Example  |
| -------- | -----------              | -------  |
| `==`     | Equal to                 | `1 == 1` |
| `!=`     | Not equal to             | `1 != 0` |
| `>`      | Greater than             | `1 > 0`  |
| `<`      | Less than                | `0 < 1`  |
| `>=`     | Greater than or equal to | `1 >= 1` |
| `<=`     | Less than or equal to    | `1 <= 1` |

### Examples

In [29]:
5 > 6

False

In [30]:
5 > 5

False

In [31]:
5 >= 5

True

In [32]:
1 + 2  < 2.5

False

In [33]:
1.25 + 1.25 <= 2.5

True

---
## Strings

Strings represent text and are enclosed by quotes.



```python
'A string in single quotes'
```



```python
"A string in double quotes"
```



```python
'''A multi-line
string in
triple quotes'''
```

### Examples

In [38]:
greeting = 'Hello, there!'

In [39]:
empty_string = ''

In [40]:
print(empty_string)

In [42]:
number = '123'

In [43]:
type(number)

str

In [44]:
print('Here is a single quote --> \' <-- ')
print("Here is a single quote --> ' <-- ")
print()
print("Here is a double quote --> \" <--")
print('Here is a double quote --> " <--')
print()
print('Newlines are indicated by the character "n" preceded by a backslash, like so')
print()
print('This string\ncontains a newline')

Here is a single quote --> ' <--
Here is a single quote --> ' <--

Here is a double quote --> " <--
Here is a double quote --> " <--

Newlines are indicated by the character "n" preceded by a backslash, like so

This string
contains a newline

### Operations with strings

In [45]:
"hello" == 'hello'

True

In [46]:
"hello" == 'heLlo'

False

In [47]:
'abc' != 'def'

True

In [49]:
### Concatenation

'abc' + 'def'

'abcdef'

In [50]:
'abc' + 'def ' + 'ghi'

'abcdef ghi'

In [52]:
'abc' * 3

'abcabcabc'

### Examples

In [53]:
'2' + 1

TypeError: can only concatenate str (not "int") to str

### Formatting strings

In [54]:
my_name = 'Jared'

In [55]:
'Hello, %s!' %my_name

'Hello, Jared!'

In [56]:
'Hello, {}!'.format(my_name)

'Hello, Jared!'

In [58]:
f'Hello, {my_name}! How are you doing?'

'Hello, Jared! How are you doing?'

### Examples

### String methods

A string method does not modify the original string. 

Assign the result to a new variable or update the string to use the modified string. 



| Data type | Description |
|:-: |----------|
| `.lower`|  convert to lower case
| `.upper`|  convert to upper case
| `.strip`  |  remove leading or trailing whitespace
| `.isdigit`|  tests whether a string is a number |
| `.split`| converts a string to a list |
| `.join`| converts a list to a string

### Examples

In [59]:
s = '    Hello, world!    '

In [62]:
new_string = s.lower()

In [61]:
print(s)

    Hello, world!

In [63]:
print(new_string)

    hello, world!

In [64]:
s.strip()

'Hello, world!'

In [65]:
a = '123'

In [67]:
a.isdigit()

True

In [68]:
b = '123 Main Street'

In [69]:
b.isdigit()

False

In [70]:
c = '123, Main, Street'

In [72]:
c.lower().split(', ')

['123', 'main', 'street']

In [73]:
', '.join(['one', 'two', 'three'])

'one, two, three'

---

## Lists

### Creating a list

In [74]:
number_list = [1, 2, 3] # A list with three integers

In [75]:
print(number_list)

[1, 2, 3]

In [76]:
string_list  = ['one', 'two', 'three']
print(string_list)

['one', 'two', 'three']

In [77]:
list_of_lists = [ [1, 2, 3], [4, 5, 6], [7, 8, 9] ]
print(list_of_lists)

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

### List comprehensions

In [82]:
[n for n in range(10)]

# Does not include 10

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [83]:
[n * 2 for n in range(10)]

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [84]:
[n  * 2 for n in range(10) if n % 2 == 0]

[0, 4, 8, 12, 16]

### List Operations

In [89]:
numbers = [1, 2, 3]

In [90]:
## Add 4 to the listt
numbers.append(4)
print(numbers)

[1, 2, 3, 4]

In [91]:
numbers.pop()
print(numbers)

[1, 2, 3]

In [93]:
len(numbers)

3

In [96]:
## Index

numbers[2]

3

In [97]:
numbers[:2]

[1, 2]

In [98]:
letters = ['a', 'b', 'c', 'd', 'e']

In [99]:
len(letters)

5

In [100]:
letters[1:2]

['b']

In [101]:
letters[1:]

['b', 'c', 'd', 'e']

In [105]:
## Converting to a list

list('a bc de')

['a', ' ', 'b', 'c', ' ', 'd', 'e']

In [106]:
# Make a list from 0 to 9
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [107]:
my_numbers = [1, 2, 3]

list(map(str, my_numbers))

['1', '2', '3']

In [108]:
list(map(float, my_numbers))

[1.0, 2.0, 3.0]

In [109]:
list(map(bool, my_numbers))

[True, True, True]

---

## Tuples

In [113]:
my_tuple = (1, 2, 3)

In [114]:
type(my_tuple)

tuple

In [115]:
my_tuple[1]

2


---

## Dictionaries

In [119]:
my_dictionary = {
        'name' : 'Codeup',
        'age'  : 9
}

In [120]:
my_dictionary

{'name': 'Codeup', 'age': 9}

### Creating a dictionary

In [129]:
dict(name = 'Codeup', age = 9)

{'name': 'Codeup', 'age': 9}

### Accessing dictionary values

In [131]:
school = dict(name = 'Codeup', age = 9)
school['name']

'Codeup'

In [133]:
school['age'] += 1
school
# Take the value of 'age'
# Add 1
# Update the dictionary

{'name': 'Codeup', 'age': 11}

## Changing data types

```python
int()
```

```python
str()
```

### Examples

In [134]:
a = 3
type(a)

int

In [135]:
str(a)

'3'

In [136]:
b = '6'

In [137]:
int(b)

6

In [138]:
int(True)

1

In [139]:
int(False)

0

### Getting user input with `input`

```python
name = input('What is your name?')
print(name)
```

In [140]:
name = input('What is your name?')

What is your name?Jared

In [141]:
f'Hello, {name}!'

'Hello, Jared!'

In [145]:
first_number = int(input('What is the first number?'))
second_number = int(input('What is the second number?'))

What is the first number?4
What is the second number?5

In [147]:
sum_numbers = first_number + second_number

In [148]:
sum_numbers

9